{% extends 'base.html' %}


{% block content %}


<div class="product-image mb-4 w-full mt-2 ">
    <img src="{{ url_for('static', filename='Banner.jpg') }}" alt="Banner" class="object-cover rounded">
</div>





<div class="flex justify-between items-center mb-4 p-3 mt-5">
    <h1 class="text-3xl font-bold">Latest releases</h1>
    <a href="{{ url_for('latest') }}" class="inline-block bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700">View All</a>
</div>

<hr class="mb-6 border-t-2 border-gray-300">

<div class="product-list grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-4">
    {% for product in latest %}
        <div class="product-item bg-white shadow-md rounded-lg p-6">
            <h2 class="text-xl font-bold mb-2">{{ product.name }}</h2>
            <div class="product-image mb-4 w-full h-48">
                <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}" class="object-cover rounded">
            </div>
            <p class="text-gray-700 mb-4 py-4">{{ product.description }}</p>
            <a href="{{ url_for('buy_product', product_id=product.id) }}" class="inline-block bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700">Buy Now</a>
            <p class="text-green-500 font-semibold">Price: ${{ product.price }}</p>
        </div>
    {% endfor %}
</div>

<div class="flex justify-between items-center mb-4 p-3">
    <h1 class="text-3xl font-bold">Product List</h1>
    <a href="{{ url_for('products') }}" class="inline-block bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700">View All</a>
</div>
<hr class="mb-6 border-t-2 border-gray-300">

<div class="product-list grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-4">
    {% for product in products %}
        <div class="product-item bg-white shadow-md rounded-lg p-6">
            <h2 class="text-xl font-bold mb-2">{{ product.name }}</h2>
            <div class="product-image mb-4 w-full h-48">
                <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}" class="object-cover rounded">
            </div>
            <p class="text-gray-700 mb-4 py-4">{{ product.description }}</p>
            <a href="{{ url_for('buy_product', product_id=product.id) }}" class="inline-block bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700">Buy Now</a>
            <p class="text-green-500 font-semibold">Price: ${{ product.price }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}